@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Edu+NSW+ACT+Foundation:wght@500&family=Indie+Flower&family=Kalam&family=Kavoon&family=Lobster&family=Mukta:wght@500&family=Poppins:ital,wght@0,300;0,400;1,500;1,700&family=Satisfy&family=Source+Code+Pro:ital,wght@1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* color: white; */
    width: 100%;
    background-color: black;
}

.about-top {
    background-color: lightcoral;
    width: 100%;
    color: white;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    /* position:fixed; */
}

.text_1 {
    padding-top: 40px;
    font-family: 'Alkatra', cursive;
}

.logo_1,
.logo_2 {
    padding: 20px;
    border-radius: 50%;
}

.text-2,
.text-5,
.text-6 {
    color: white;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 40px;
}

.bts {
    /* background-color: red; */
    margin: auto;
    padding: 20px;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.image {
    padding: 20px 20px;
    cursor: pointer;
}

.image img {
    max-width: 450px;
}

.image img:hover {
    opacity: .5;
    transition: .9s;
}

.text-3 {
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Alkatra', cursive;
    font-weight: bold;
}
.awrdtext, .awrdtext-2{
    /* background-color: red; */
    transition: 0.5s ease;
    position: relative;
    bottom: 50%;
    opacity: 0;
    /* left: 15%; */
    /* transform: translate(-50%,-50%); */
    color: white;
}
.container:hover .image-2{
    opacity: 0.3;

}
.container:hover .awrdtext{
    opacity: 1;
}
.container-2:hover .awrdtext-2{
    opacity: 1;
}
.container-2:hover .image-2{
    opacity: 0.3;
}

.awardstop {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
}

.awards p {
    text-align: center;
    font-weight: bolder;
}

.image-2 {
    padding: 20px 20px;
    cursor: pointer;
}

.image-2:hover {
    opacity: .5;
    transition: .9s;
}
.middle{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bts_bottom{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text-4,
.text-7 {
    padding: 30px;
    text-align: center;
    font-family: 'Alkatra', cursive;

}

.txt {
    padding-top: 5%;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;   
    /* background-color: red; */
}
.mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
    /* background-color: green; */
}
.bottom{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;       
}
/* .imgarea{ */
/* padding-top:5% ; */
/* background-color: red; */
/* } */
/* .imgarea-2{
    /* background-color: blue; */
/* }  */


.txt-2{
    color: white;
   font-family: 'Alkatra', cursive;
    /* background-color: red; */
    /* display: flex;
    justify-content: space-between; */
}
.container-3{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    text-align: center;
}
.container-4{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
    text-align: center;
}
.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    text-align: center;
}
.text-6 {
    padding-top: 10%;
}
.footer {
    width: 100%;
    color: white;
    background-color: #2e3033;
    padding: 70px 0px;
}
.row {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 20%; */
}

.footer-col ul {
    list-style-type: none;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(205, 33, 33);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    padding-top: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: lightgrey;
    display: block;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .socail-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .socail-links a:hover {
    color: rgb(53, 51, 51);
    background-color: white;
}





@media screen and(max-width:1199px){
    .awards,.imgarea, .imgarea-2 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-3,
    .container-4,
    .container-5{
        flex-direction: column;
    }
    .top,
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    } 
}
@media screen and (max-width:575px){
    .awrdtext-3{
        position: absolute;
        right: 20%;
    }
    .container-3{
        flex-wrap: wrap;
        margin-right: 30%;
    
        }
        .container-3,
        .container-4,
        .container-5{
            flex-direction: column;
        }
        .container-3{
            margin-left: 10%;
        }
        .container-4{
            margin-top: 20%;
        }
       
}




